footer {
  margin: 64px 64px 0px 64px;
  border-top: 1px solid #408d7b;
}

.footer__text {
  color: #408d7b !important;
  font-size: 1rem;
  text-align: center;
  padding-bottom: 40px;
  padding-top: 20px;
}
