header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 54px 98px 0px 98px;
}

.privacy-policy__content-text{
    padding: 112px 98px 100px 98px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

/* .privacy-policy__content-text{
    padding: 112px 98px 100px 98px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas:
        "text image";
    gap: 32px;
}

.privacy-policy__content-text__text{
    grid-area: text;
}
.privacy-policy__content-text__image{
    grid-area: image;
} */


main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.privacy-policy-container{
    padding-bottom: 100px;
    width: 70vw;
    display: flex;
    flex-direction: column;
    gap: 30px;
 
}

.privacy-policy{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #000;
    padding-bottom: 30px;
    cursor: pointer;
}

.privacy-policy__title{
    color: #000;
    font-weight: 600;
    font-size: 1.8rem;
}

.privacy-policy__text{
    font-size: 1.6rem;
    padding-top: 30px;
  
}

.privacy-policy__content-info{
    display: none;
    
}

.privacy-policy__button{
    display: flex;
    justify-content: space-between;
}

.plus-sign__icon{
    height: 28px;
    width: 28px;
}

footer {
    padding: 100px 100px 20px 100px;
    background-color: var(--title-color);
    color: white;
    display: grid;
    grid-template-columns: 60% auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "agriculture support contact"
        "social-media social-media social-media"
        "copyright copyright copyright";
    width: 100%;
}

.meaning-of-agriculture-content {
    grid-area: agriculture;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.social-media-container {
    grid-area: social-media;
    place-self: start;
    padding-top: 30px;
    padding-bottom: 90px;
}

.support-content {
    grid-area: support;
    place-self: start end;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.support__links {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact-content {
    grid-area: contact;
    place-self: start end;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.copyright {
    grid-area: copyright;
    text-align: center;
    border-top: 1px solid #fff;
    padding-top: 20px;
    width: 100%;

}

.meaning-of-agriculture__text {
    color: #fff;
    font-size: 1.25rem;
}

.meaning-of-agriculture__title {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
}

.copyright {
    color: #fff;
    font-size: 1rem;
}

.contact__title,
.support__title {
    font-family: "Montserrat", sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
}

.support__link,
.contact {
    color: #fff;
    font-size: 1.1rem;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.social-media__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.social__footer {
    color: #fff;
    font-size: 1.7rem;
    height: 55px;
    width: 55px;
    border-radius: 200px;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 400ms ease-in-out;
    cursor: pointer;
}

.social__footer:hover {
    background-color: #fff;
    color: var(--title-color);
    transform: scale(1.2);
}
