#home{
    background-image: url(../img/background-home.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-presenting-company{
    padding: 300px 85px 0 85px;
}

.title-home{
    font-size: 4.375rem;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
}

.caption-home{
    color: white;
    font-size: 2.188rem;
    padding-top: 121px;
    max-width: 28vw;
}

.know-more-home__button{
    margin-top: 45px;
}

.navigations{
    display: flex;
    align-items: center;
    gap: 20px;
}

.navigations .navigation a{
    color: white;
    text-transform: uppercase;
}

.content-buttons{
    color: white;
}

.green-world-logo{
  place-self: end end;
}

.log-in__button{
    background-color: transparent;
    color: white;
    width: 160px;
    height: 42px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.05rem;
    border: 0;
    transition: all 400ms ease-in-out;
}

.log-in__button:hover{
    background-color: var(--section-background-color);
}

.sign-up__button{
    background-color: var(--title-color);
    color: white;
    width: 160px;
    height: 42px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.05rem;
    border: 0;
    transition: all 400ms ease-in-out;
}

.know-more-home__button{
    background-color: var(--title-color);
    color: white;
    width: 250px;
    height: 42px;
    border-radius: 5px;
    font-size: 1.05rem;
    cursor: pointer;
    border: 0;
    transition: all 400ms ease-in-out;
}

.navigation{
    border-bottom: 3px solid transparent;
    transition: all 400ms ease-in-out;
    cursor: pointer;
    height: auto;
}

.navigation:hover{
    border-color: var(--section-background-color);
}