@media (max-width: 1239px) {
    .our-cause__text {
        font-size: 1.4rem;
    }

}

@media (max-width: 1085px) {
    #our-cause {
        flex-direction: column-reverse;
        align-items: center;

        gap: 60px;
    }

    .our-cause__image {
        width: 70vw;
        height: 90vh;
        border-radius: 10px;
    }

    .our-cause-content {
        gap: 60px;
        width: 100%;
    }
}

@media (max-width: 730px) {

    .our-cause__image {

        height: auto;
    }

    .our-cause__title {
        font-size: 2.7rem;
    }
}


@media (max-width: 578px) {

    .our-cause__image {
        width: 450px;
        height: auto;

    }

    .our-cause__title {
        font-size: 2.7rem;
    }

    .our-cause__title {
        font-size: 2.4rem;
    }

    .our-cause-content {
        padding: 0 50px;

    }
}


@media (max-width: 500px) {
    #who-we-are {
        gap: 40px;
    }

    .our-cause__image {
        width: 400px;
    }

    .our-cause__title {
        font-size: 2.1rem;
    }

    .our-cause__text {
        font-size: 1.1rem;
    }

    .our-cause-content {
        gap: 40px;

    }

    @media (max-width: 430px) {
        .our-cause__image {
            width: 330px;
        }

        .our-cause-content{
            padding: 0 35px;
        }
    }

}