header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 54px 98px 32px 98px;
  gap: 32px;
}

.redefine-password-container {
  display: flex;
}

main {
  display: grid;
  justify-items: center;
  gap: 32px;
}

input {
  border-radius: 5px;
  width: 314px;
  height: 46px;
  padding-left: 12px;
  font-family: "Abel";
  font-size: 1.25rem;
}

label {
  font-family: "Montserrat";
  font-weight: 600;
}

.redefine-password__text {
  font-size: 1.125rem;
  max-width: 318px;
}

.redefine-password__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.form__email-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-bottom: 20px;
}

.email__input {
  background-color: var(--input-background-color);
}

.redefine-password__enter-button {
  width: 314px;
  height: 46px;
  background: #408d7b;
  border-radius: 5px;
  color: #fff;
  font-family: "Abel";
  font-size: 1.125rem;
  cursor: pointer;
}

.redefine-password__return-button {
  width: 314px;
  height: 46px;
  background: transparent;
  border: 1px solid #000;
  border-radius: 5px;
  color: #000;
  font-family: "Abel";
  font-size: 1.125rem;
  cursor: pointer;
}

.redefine-password__forgot-password {
  text-align: center;
  border-bottom: 1px solid #000;
  padding-bottom: 2px;
  margin: 0px 80px;
}
