header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 54px 98px 32px 98px;
  gap: 32px;
}

.redefine-password-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

input {
  border-radius: 5px;
  width: 314px;
  height: 46px;
  padding-left: 12px;
  font-family: "Abel";
  font-size: 1.25rem;
}

label {
  font-family: "Montserrat";
  font-weight: 600;
}

.redefine-password__email-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.email__email {
  color: #B25F30;
  font-weight: 700;
}

.redefine-password__text {
  font-size: 1.125rem;
  max-width: 318px;
}


.redefine-password__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.form__new-password-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.new-password-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-bottom: 20px;
}

.new-password__input {
  background-color: var(--input-background-color);
}

.form__confirm-password-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.confirm-password__input {
  background-color: var(--input-background-color);
}

.redefine-password__enter-button {
  width: 314px;
  height: 46px;
  background: #408d7b;
  border-radius: 5px;
  color: #fff;
  font-family: "Abel";
  font-size: 1.125rem;
  cursor: pointer;
  margin-top: 24px;
}

.redefine-password__cancel-button {
  width: 314px;
  height: 46px;
  background: transparent;
  border: 1px solid #000;
  border-radius: 5px;
  color: #000;
  font-family: "Abel";
  font-size: 1.125rem;
  cursor: pointer;
}
