* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Abel", sans-serif;
  min-height: 100vh;
  display: grid;
  justify-items: center;
}

h1,
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
}

button {
  font-family: "Abel", sans-serif;
  outline: 0;
  border: 0;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

h1 {
  text-transform: uppercase;
  font-weight: 700;
  color: var(--title-color);
}

h2 {
  font-weight: 600;
  color: var(--subtitle-color);
}

p {
  color: var(--text-color);
  font-size: 1.875rem;
}

input {
  border: 0;
}
