* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input {
  outline: 0;
  border: 0;
}

input:focus {
  outline: 0;
}

select:focus {
  outline: 0;
}

fieldset {
  border-width: 0;
}

textarea {
  border: 0;
  outline: 0;
}

button {
  outline: 0;
  border: 0;
}
