header {
  display: flex;
  align-items: flex-start;
  padding: 54px 96px 32px 96px;
  gap: 32px;
  width: 100%;
  background-image: url("../img/seed-of-love-banner-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  position: relative;
}

.seed-of-love-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}

.seed-of-love__title {
  color: #fff;
}

.seed-of-logo__logo {
  position: absolute;
  bottom: 0;
  right: 0;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.return__icon {
  filter: brightness(0) invert(1);
}

.project-goal {
  padding: 92px 86px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.project-goal__title {
  font-size: 2.5rem;
}

.project-goal__text {
  font-size: 1.875rem;
}

.how-is-possible {
  padding: 0px 86px 92px 82px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.how-is-possible__title {
  font-size: 2.5rem;
}

.how-is-possible__item {
  font-size: 1.875rem;
  color: var(--text-color);
}

.speeches {
  padding: 0px 86px 92px 82px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.speeches__title {
  width: 100%;
}

.speeches__image {
  padding-top: 64px;
  padding-bottom: 32px;
  width: fit-content;
  height: fit-content;
}

.types-of-planting-container {
  width: 100%;
}

.types-of-planting__title {
  padding-left: 128px;
  padding-bottom: 98px;
}

.types-of-planting {
  width: 100%;
  background-image: linear-gradient(
    #fff 45%,
    var(--section-background-color) 20%
  );
  padding-bottom: 96px;
  display: flex;
  justify-content: space-around;
}

.type-of-planting__card {
  position: relative;
  display: block;
  overflow: hidden;
  height: 100%;
}

.type-of-planting__card::before {
  content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vehicula pharetra enim eu finibus. Suspendisse potenti.";
  background: rgba(64, 141, 123, 0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  padding-top: 50px;
  transform: translateY(100%);
  transition: transform 0.5s;
  color: #fff;
  font-size: 1.75rem;
}

.type-of-planting__card:hover::before {
  transform: translateY(40%);
  transition: transform 0.5s;
}

.type-of-planting__title {
  color: #fff;
  font-size: 1.875rem;
  text-align: center;
  padding-top: 86px;
}

.pet-bottle {
  background-image: url("../img/seed-of-love-pet-bottle-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 386px;
  height: 638px;
}

.floor {
  background-image: url("../img/seed-of-love-floor-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 386px;
  height: 638px;
}

.box {
  background-image: url("../img/seed-of-love-box-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 386px;
  height: 638px;
}
