#who-we-are{
    display: flex;
}

.who-we-are-content{
    padding: 30px 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 85px;
}

/* .who-we-are img{
    width: 50vw;
} */

